@{
    /*
     * criar uma model para pegar o objento enviado
     * com a interface IEnumerable que é um tipo bem generico q aceita list hash sort
     * no index foi criado um model com a interface, aqui não precisa, ja pode usar a classe direto
     * o model foi modificado novamente chamando a viewmodel onde antes tinhas os campos direto da viu... agora chama
     * do campo da viewmodel seller.name
     */
    ;
}
@model AppSales.Models.ViewModels.SellerFormViewModel

@{
    ViewData["Title"] = "Create";
}
<h2>@ViewData["Title"]</h2>

<h4>Seller</h4>
<hr />
@{/* A class row do bootstrap garantir q a Div ocupe a largura da tela */}
<div class="row">
    @{/*o col-md-4 dividi a tela em 4 partes 1/3 da tela md-6 metade da tela... o total de partes é 12 igual no react*/}
    <div class="col-md-4">
        @{/*Ação create será o metodo para enviar os dados POST*/}
        <form asp-action="Create">
            
            <div class="form-group">
                <label asp-for="Seller.Name" class="control-label"></label>
                <input asp-for="Seller.Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Seller.Email" class="control-label"></label>
                <input asp-for="Seller.Email" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Seller.BirthDate" class="control-label"></label>
                <input asp-for="Seller.BirthDate" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Seller.BaseSalary" class="control-label"></label>
                <input asp-for="Seller.BaseSalary" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Seller.DepartmentId" class="control-label"></label>
                <select asp-for="Seller.DepartmentId" asp-asp-items="@(new SelectList(Model.Departments, "Id",
                "Name"))" class="form-control"></select>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>